[submodule "libraries/WiringPi"]
	path = libraries/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "libraries/Catch2"]
	path = libraries/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libraries/sbgECom"]
	path = libraries/sbgECom
	url = https://github.com/uorocketry/sbgECom.git
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libraries/cobs-c"]
	path = libraries/cobs-c
	url = https://github.com/cmcqueen/cobs-c
[submodule "libraries/protobuf-definitions"]
	path = libraries/protobuf-definitions
	url = git@github.com:uorocketry/protobuf-definitions.git
