[submodule "libraries/WiringPi"]
	path = libraries/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "libraries/Catch2"]
	path = libraries/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libraries/sbgECom"]
	path = libraries/sbgECom
	url = https://github.com/uorocketry/sbgECom.git
