[Unit]
Description=rocket_code_startup_script
After=network.target

[Service]
ExecStart=/home/pi/rocket-code-2020/build/MainLoop &
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
